@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
}
:root {
  --dark-blue:#222831;
  --dark-grey:#393E46;
  --pale-yellow:#ffb813;
  --light-grey:#EEEEEE;
}
html {
  font-family: 'Inter', sans-serif;
}

.header {
  height: 100vh;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--light-grey);
  gap: 20px;
}

.header h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 100px;
}
.header span{
  font-size: 50px;
  animation: typing 3s steps(30, end), blink-caret .5s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
}
.header img {
  width: 100px;
  cursor: pointer;
  margin-top: 30px;
  transition: all .3s;
}
.header img:hover {
  transform: translateY(10%);
}

@keyframes typing {
  from { width: 0 }
  to { width: 39% }
}

@keyframes blink-caret {
  from{ border-color: transparent }
  50% { border-color: var(--light-grey); }
}


.about {
  text-align: center;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  padding: 3% 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.about h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.about p {
  font-size: 20px;    line-height: 30px;
}
.about button {
  padding: 10px 30px;
  font-size: 24px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: var(--pale-yellow);
  color: var(--dark-grey);
  cursor: pointer;
}
.projects {
  background: var(--dark-blue);
}
@media screen and (max-width:1100px) {

  .header h1{
    font-size: 50px;
  }
  .header span {
    font-size: 24px;
  }
  .about {
    padding: 3% 15%;
  }
}

@media screen and (max-width:600px) {
  .header h1{
    font-size: 30px;
  }
  .header span {
    font-size: 20px;
  }
  .about {
    padding: 3% 5%;
  }
}